#root {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  color: rgb(25, 51, 73);
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: rgb(25, 51, 73);
}

a:hover {
  text-decoration: underline;
}

h5 {
  font-size: 13px;
  color: darkgray;
}

/* Home */

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  text-align: center;
  left: 0;
  top: 0;
  cursor: pointer;
}

.modal .modal-inner {
  background-color: rgba(255, 255, 255, 0.95);
  position: relative;
  width: auto;
  margin-top: 20vh;
  padding: 5px;
}

.modal .modal-inner .modal-text {
  width: 70%;
  text-align: left;
  margin: auto;
}

.map {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.logos {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 899;
}

.logos img {
  max-height: 60px;
  max-width: 1200px;
  margin: 0 10px;
  cursor: pointer;
}

.side-bar {
  position: absolute;
  height: 100vh;
  overflow-y: auto;
  width: 408px;
  max-width: 100%;
  left: 0;
  top: 0;
  box-shadow: 0 0 20px rgb(0 0 0 / 30%);
  z-index: 900;
}

.side-bar.hide {
  display: none;
}

.side-bar .content {
  background-color: white;
  min-height: calc(100vh - 256px);
}

.side-bar .header {
  width: 100%;
  height: 256px;
  background-image: url("./pages/home/img/header.png");
  background-color: lightblue;
}

.side-bar .info {
  padding: 20px;
}

.side-bar .info .title {
  font-size: 30px;
}

.side-bar .info .text {
  font-size: 16px;
  color: darkgray;
  margin-top: 5px;
}

.side-bar .info .legend {
  font-size: 16px;
  color: darkgray;
}

.square {
  margin: 5px 10px;
  width: 30px;
  height: 15px;
  fill-opacity: 0.5;
  color: black;
  background-color: black;
}

.red.square {
  color: red;
  background-color: red;
}

.yellow.square {
  color: yellow;
  background-color: yellow;
}

.side-bar .images {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 16px;
  color: darkgray;
  text-align: center;
}

.side-bar .images .image .title {
  margin-top: 16px;
}

.side-bar .images .image .infobox {
  display: none;
}

.side-bar .images img {
  width: 100%;
  margin: 10px 0px;
  cursor: pointer;
  transition: transform 0.2s;
}

.side-bar .images img:hover {
  transform: scale(1.05);
}

.side-bar .images .fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.side-bar .images .image.fullscreen {
  padding-top: 80px;
}

.side-bar .images .image.fullscreen .infobox {
  display: block;
}

.side-bar .images .fullscreen img {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
}

.side-bar .images .fullscreen img:hover {
  transform: scale(1);
}

.search-bar {
  position: absolute;
  width: 392px;
  max-width: calc(100% - 16px);
  left: 8px;
  top: 8px;
  z-index: 901;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: grey white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 2px solid white;
}

.css-g1d714-ValueContainer {
  padding: 11px 8px !important;
}

.css-2b097c-container {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 -1px 0px rgb(0 0 0 / 2%);
}

.css-1wa3eu0-placeholder {
  font-size: 15px !important;
}

.css-yk16xz-control {
  border-radius: 8px;
}

.leaflet-control-layers-expanded.leaflet-control-layers-minimap {
  width: 40vw;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  padding: 0;
  border: 4px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  overflow-x: hidden;
}
.leaflet-minimap-container {
  margin-bottom: 2px;
  position: relative;
  display: block;
  height: 180px;
}
.leaflet-minimap-container .leaflet-minimap-label {
  position: absolute;
  display: block;

  height: 22px;
  bottom: 0;
  left: 0;
  padding: 2px 6px 2px 2px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  white-space: nowrap;
  z-index: 1000;
}
.leaflet-minimap-container
  .leaflet-minimap-label
  .leaflet-control-layers-selector {
  top: 3px;
}
.leaflet-minimap {
  width: 100%;
  height: 100%;
}
.leaflet-minimap-container.leaflet-minimap-hidden {
  display: none;
}
.leaflet-control-layers-minimap .leaflet-control-layers-scrollbar {
  overflow-y: unset;
  overflow-x: unset;
}

.leaflet-control-container .leaflet-top.leaflet-right {
  margin: 0;
  top: 40px;
}

.leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control-layers-minimap.leaflet-control {
  height: 100%;
  margin: 0;
  background: #ddd;
}

.leaflet-control-container .leaflet-top.leaflet-right {
  top: 0;
}

.map-marker .circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

@media screen and (max-width: 900px) {
  .side-bar {
    width: 100%;
    box-shadow: none;
    pointer-events: none;
  }
  .side-bar.pointers {
    pointer-events: all;
  }
  .side-bar .header {
    background-color: transparent;
    background-image: none;
    height: 65vh;
  }

  .side-bar .content {
    min-height: 35vh;
    pointer-events: all;
  }

  .side-bar .text {
    background-color: white;
  }

  .side-bar .legend {
    background-color: white;
  }

  .side-bar .images {
    background-color: white;
  }

  .leaflet-control-container .leaflet-top.leaflet-right {
    top: 55px;
  }
}
